.logo {
}

.logo img {
  max-width: 90px; /* Adjust logo size as needed */
  height: auto;
  border-radius: 12px; /* Add the rounded corners */
}

.welcomeHeading {
  color: #333; /* Adjust text color */
  margin-bottom: 32px;
}

.loginForm {
  width: 50%; /* Adjust form width */
}

.formGroup {
}

.formLabel {
  display: block;
  color: #555;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.forgotPassword {
  text-align: right;
  font-size: small;
  margin-top: 0.6rem;
  margin-bottom: 1.1rem;
}

.forgotPasswordLink {
  color: #007bff; /* Link color */
  text-decoration: none;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

.loginButton {
  width: 100%;
  padding: 12px;
  background-color: #4b3b06;
  color: white;
  border: none;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #218838;
}

.registerLink {
  text-align: center;
  font-size: small;
  margin-top: 1rem;
}

.registerLinkText {
  /* Style for the "Is this your first login?" part if needed */
}

.registerLinkAnchor {
  color: #007bff;
  text-decoration: none;
}

.registerLinkAnchor:hover {
  text-decoration: underline;
}
