@import "../globals/TabSwitcher.css";
@import "../globals/FormField.css";

:root {
  --table-border-color: var(--border-light);
}

.data-table-wrapper {
  margin-top: 1rem;
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid var(--border-light, #e5e7eb);
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  /* min-width: 800px; */
}
.data-table th,
.data-table td {
  text-align: left;
  border-right: 1px solid var(--table-border-color);
  padding: var(--spacing-xs) var(--spacing-xm);
}

.data-table th:last-child,
.data-table td:last-child {
  border-right: none;
}

.data-table th {
  background: var(--background-50, #f9fafb);
  text-align: left;
  font-weight: 600;
  color: var(--text-700, #374151);
  border-bottom: 1px solid var(--border-light, #e5e7eb);
  position: sticky;
  top: 0;
  z-index: 10;
}

.data-table td {
  vertical-align: top;
  font-weight: 400;
  font-size: var(--font-size-sm);
}

.data-table tbody tr,
.data-table thead tr {
  border-bottom: 1px solid var(--table-border-color);
}
.data-table tbody tr:last-child {
  border-bottom: none;
}

.data-table thead {
  position: sticky;
  top: 0;
  z-index: 15;
  background: var(--background-25);
}

.no-data {
  color: var(--muted);
}
