/* MainLayout.css */
.main-layout {
  display: flex;
  height: 100vh;
  background-color: var(--background);
}

.sidebar {
  width: 280px;
  background-color: var(--background-50);
  border-right: 1px solid var(--background-100);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-mmd);
}

.logo img {
  max-width: 5.5rem;
  height: 5.5rem;
  border-radius: 14px;
}

.logo {
  margin-left: var(--spacing-sm);
  margin-bottom: var(--spacing-lg);
}

.nav-links,
.bottom-links {
  display: flex;
  flex-direction: column;
}

.nav-links a,
.bottom-links a {
  text-decoration: none;
  color: var(--text);
  padding: var(--spacing-xm) var(--spacing-sm);
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: var(--font-size-base);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  cursor: default;
}

.divider {
  height: 1px;
  background: var(--background-100);
  margin: var(--spacing-sm) 0;
  border: none;
}

.nav-links a.active-link,
.bottom-links a.active-link {
  background-color: var(--primary);
  color: var(--background);
  font-weight: 400;
}

.nav-links a:hover:not(.active-link),
.bottom-links a:hover:not(.active-link) {
  background-color: var(--background-100);
  color: var(--text);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.add-button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size-base);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: var(--primary-hover);
}

.content-body {
  padding: var(--spacing-md);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    padding: var(--spacing-sm);
  }
  .content-body {
    padding: var(--spacing-sm);
  }
}
