# Log files and directories
logs                # Directory for log files
*.log               # All log files
npm-debug.log*      # npm debug logs
yarn-debug.log*     # Yarn debug logs
yarn-error.log*     # Yarn error logs
pnpm-debug.log*     # pnpm debug logs
lerna-debug.log*    # Lerna debug logs

# Dependency and build output
node_modules        # Node.js dependencies
dist                # Build output directory
dist-ssr            # Server-side rendered build output
*.local             # Local environment files

# Editor directories and files
.vscode/*           # VSCode settings folder
!.vscode/extensions.json # Allow sharing recommended extensions
.idea               # JetBrains IDE settings
.DS_Store           # macOS Finder metadata
*.suo               # Visual Studio solution user options
*.ntvs*             # Node.js Tools for Visual Studio files
*.njsproj           # Node.js project files for Visual Studio
*.sln               # Visual Studio solution files
*.sw?               # Swap files (e.g., .swa, .swp)

# Python cache
**/__pycache__/     # Python bytecode cache directories