@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dev Custom CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-base);
  padding: var(--spacing-xm) var(--spacing-mmd); /* 16px horizontal padding */
  border-radius: 6px;
}

input {
  width: 100%;
  border: 1px solid var(--background-100);
  background-color: var(--background-50);
  padding: var(--spacing-xm) var(--spacing-sm); /* 8px vertical, 16px horizontal padding */
  border-radius: 6px;
}

.loginButton {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-base);
  padding: var(--spacing-xm); /* 16px horizontal padding */
  border-radius: 6px;
}

.loginButtonDisabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: var(--background-400);
}

.loginButton:hover {
  background-color: var(--primary-hover);
}

/* Only utility and component-specific styles here. Use theme.css for all typography and color variables. */
